* text=auto

*.cpp text eol=lf
*.h text eol=lf
*.md text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.cff text eol=lf
*.csv text eol=lf
*.txt text eol=lf

*.png binary
